body {
  text-align: center;
  background-color: #f7e8f6;
}

#level-title {
  font-family: 'Slackey', cursive;
  /* font-family: 'Press Start 2P', cursive; FOR GAME OVER TEXT*/
  font-size: 3rem;
  margin: 5%;
  color: #01d28e;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn-box {
  margin-bottom: 500px;
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.game-over-text {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin: 5%;
  color: #230338;
}

.btn-starter {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
font-size: 11px;
text-transform: uppercase;
letter-spacing: 2.5px;
font-weight: 500;
color: #000;
background-color: #fcf9ea;
border: none;
  border-radius: 45px;
box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
transition: all 0.3s ease 0s;
cursor: pointer;
outline: none;

}

.btn-starter:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fcf9ea;
  transform: translateY(-7px);
}

.col {
  padding-top: 50px;
}
